In [45]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [71]:
df = pd.read_csv('startups.csv')

In [72]:
df = df.drop(columns=['Profit','State'])

In [73]:
df = df.iloc[0:7,:]

In [74]:
df

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42
5  131876.90        99814.71        362861.36
6  134615.46       147198.87        127716.82

In [65]:
df.iloc[3,0] = np.NaN
df.iloc[1,1] = np.NaN
df.iloc[4,2] = np.NaN

In [66]:
df

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70             NaN        443898.53
2  153441.51       101145.55        407934.54
3        NaN       118671.85        383199.62
4  142107.34        91391.77              NaN
5  131876.90        99814.71        362861.36
6  134615.46       147198.87        127716.82

## replace the NaN value with the mean

In [37]:
df0 = pd.DataFrame()
df0['R&D Spend']= df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [38]:
df0

       R&D Spend  Administration  Marketing Spend
0  165349.200000      136897.800       471784.100
1  162597.700000      115853.425       443898.530
2  153441.510000      101145.550       407934.540
3  148331.351667      118671.850       383199.620
4  142107.340000       91391.770       366232.495
5  131876.900000       99814.710       362861.360
6  134615.460000      147198.870       127716.820

In [40]:
df1 = df0.copy()
df1.iloc[3,0] = np.NaN

In [41]:
df1

   R&D Spend  Administration  Marketing Spend
0  165349.20      136897.800       471784.100
1  162597.70      115853.425       443898.530
2  153441.51      101145.550       407934.540
3        NaN      118671.850       383199.620
4  142107.34       91391.770       366232.495
5  131876.90       99814.710       362861.360
6  134615.46      147198.870       127716.820

In [42]:
X = df1.iloc[[0,1,2,4,5,6],1:3]
Y = df1.iloc[[0,1,2,4,5,6],0]

In [44]:
Y

0    165349.20
1    162597.70
2    153441.51
4    142107.34
5    131876.90
6    134615.46
Name: R&D Spend, dtype: float64

In [57]:
lr = LinearRegression()
lr.fit(X,Y)
lr.predict(df.iloc[3,1:].values.reshape(1,2))

C:\Users\HP\anaconda3\envs\ML\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([151809.63844087])

In [59]:
df1.iloc[3,0] = 151809.63

In [60]:
df1

   R&D Spend  Administration  Marketing Spend
0  165349.20      136897.800       471784.100
1  162597.70      115853.425       443898.530
2  153441.51      101145.550       407934.540
3  151809.63      118671.850       383199.620
4  142107.34       91391.770       366232.495
5  131876.90       99814.710       362861.360
6  134615.46      147198.870       127716.820

In [62]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [63]:
imp = IterativeImputer()

In [67]:
df23 = imp.fit_transform(df)

In [69]:
df23 = pd.DataFrame(df23,columns=df.columns)

In [70]:
df23

       R&D Spend  Administration  Marketing Spend
0  165349.200000   136897.800000    471784.100000
1  162597.700000   120953.475368    443898.530000
2  153441.510000   101145.550000    407934.540000
3  150401.920897   118671.850000    383199.620000
4  142107.340000    91391.770000    416240.790065
5  131876.900000    99814.710000    362861.360000
6  134615.460000   147198.870000    127716.820000